
.jumbotron {
	background-image: url('http://farm8.staticflickr.com/7392/9778101904_01686ebe4c_b.jpg');
	background-repeat: no-repeat;
	background-color: #CCCCCC;
	background-size: 2000px 200px;
}


.tagline {
	display: none;
}

#social_links {
	height: 15px;
	padding: 12px;
}

.container {
	max-width: 768px;
}

.post_title, 
.post_title a {
font-size: 16px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 500;
line-height: 1.1;
color: #000000;
}

.photo,
img.photo,
.photo_left,
img.photo_left,
.photo_right,
img.photo_right
{
	background: #ffffff;
	border: 1px solid #eeeeee;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

.photo_left {
	float: left;
	margin: 5px;
}

.photo_right {
	float: right;
	margin: 5px;
}


/*
div.jumbotron {
	background-image: url('http://farm6.staticflickr.com/5525/9625205406_1989d35759_o.jpg');
	background-repeat: no-repeat;
	background-postion: right bottom;
}
*/
