---
layout: threecol
title: Earth Wandering
---

<!-- old...  layout: default -->
<div id="home">


  <ul class="posts">
    {% for post in site.posts %}
    <li class="post_preview">
    	<div class="post_preview">
			<div class="post_preview_pic">
				{% if post.mainpic != "" %}
					<a href="{{ post.url }}">
						<img class="photo_pvw" src="{{ post.mainpic }}" />
					</a>
				{% endif %}
			</div>
			<div class="post_preview_text">
				<a href="{{ post.url }}">{{ post.title }}</a> (<a href="{{ post.url }}#disqus_thread"></a>)
				<div class="post_date">{{ post.date | date_to_string }}</div>
				{{ post.excerpt }}<a href="{{ post.url }}">...</a>
			</div>
		</div>
    </li>
    {% endfor %}
  </ul>
</div>

