---
layout: jumbotron
title: Earth Wandering
---

{% for post in site.posts %}
<div class="col-md-3">

	<p>
		{% if post.mainpic != "" %}
			<a href="{{ post.url }}">
				<img class="photo_pvw" src="{{ post.mainpic }}" />
			</a>
		{% endif %}

		<h3 class="post_title">
			<a href="{{ post.url }}">
			{{ post.title }}
			</a>
		</h3>

		<div class="post_detail">
			{{ post.date | date_to_string }} (<a href="{{ post.url }}#disqus_thread"></a>)
		</div>
		{{ post.excerpt }}
	</p>
	
	<p><a class="btn btn-default" href="{{ post.url }}">read &raquo;</a></p>
</div>
{% endfor %}


